<p>¡Aquí va un empleado!</p>
<p>Nombre del empleado: {{nombre}}</p>
<p>Apellidos del empleado {{apellido}}</p>
<p>Edad del empleado {{edad<18 ? edad + " (menor de edad)" : edad + " (mayor de edad)"}}</p>
<!-- <p>empresa del empleado {{empresa.value}}</p> -->
<p>empresa del empleado {{empresa}}</p>
--------------------------------------------------------------------------------
<!-- <br/>
Introduce la empresa: <input type="text" #empresa [disabled]="habilitacionCuadro" (keyup)="0" >
<br/> -->
<!-- <br/>
Introduce la empresa: <input type="text" (input)="cambiaEmpresa($event)" >
<br/> -->
<br/>
Introduce la empresa: <input type="text" [(ngModel)]="empresa" >
<br/>
--------------------------------------------------------------------------------
<br/>
<br/>
{{textoDeRegistro}}
<br/>
<br/>
Registrado: <input type="checkbox" id="registro" [checked]="usuRegistrado" (click)="setUsuarioRegistrado()" />
<br/>
--------------------------------------------------------------------------------
<br/>
{{textoDeRegistro2}}
<br/>
Registrado: <input type="radio" name="nRegistro" value="si" (click)="setUsuarioRegistrado2($event)"/>
<br/>
No registrado: <input type="radio" name="nRegistro" value="no" (click)="setUsuarioRegistrado2($event)"/>